<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item"
                    *ngFor="let menu of opcionesMenu"> 
                    <a class="sidebar-link waves-effect waves-dark sidebar-link " 
                        [routerLink]="menu.url" 
                        aria-expanded="false"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="['router-link-active']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i [class]="menu.icono"></i>
                        <span class="hide-menu"> {{ menu.titulo }} </span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->